:root {
--color-primary: #218376;
--color-secunday:#c5f957;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
}

body {
background: linear-gradient(176deg, rgba(33,131,118,1) 0%, rgba(18,42,39,1) 100%);
font-family: 'Raleway', sans-serif;
}

.perfil {
    text-align: center;
}

.profile {
    width: 100px;
    border-radius: 50%;
    border: 1   px solid white;
    box-shadow: 0 0 15px white;
    margin-bottom: 10px 0;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

h1{
    font-family: 'Dancing Script', cursive;
}

p {
    top: 90px;
    position: fixed;
    left: 497px;
}

.deputada {
    background-color: var(--color-secunday);
    margin: 10px 500px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 10px;
    color: var(--color-primary);
    font-family: 'Raleway', sans-serif;
}

span {
    color:white;
    margin-bottom: 10px;
}
h2 {
    color: var(--color-secunday);
    font-family: 'Dancing Script', cursive;
    font-size: 36px;

}

h3 {
    color: #2eac97;
}

.link-list {
    text-align: center;
}
.link-list li a {
    background-color: white;
    text-align: center;
    padding: 20px;
    display: block;
    margin: 20px 100px;
    border-radius: 10px;
    color: var(--color-primary);
    list-style: none;
    text-decoration: none;
}




